<div class="row mb-3">
    <hr style="color: #f4e3cf">
    <div class="d-flex justify-content-start">
      <button class="btn btn-light shadow rounded-0 border border-0 mx-1" STYLE="background: #f4e3cf">
        <i class="bi bi-twitter" style="color: #953e45"></i>
      </button>
      <button class="btn btn-light shadow rounded-0 border border-0 mx-1" STYLE="background: #f4e3cf">
        <i class="bi bi-linkedin" style="color: #953e45"></i>
      </button>
      <button class="btn btn-light shadow rounded-0 border border-0 mx-1" STYLE="background: #f4e3cf">
        <i class="bi bi-facebook" style="color: #953e45"></i>
      </button>
    </div>
  </div>

  <div class="row mb-3">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/about" style="color: #f4e3cf; text-decoration: none">About</a></li>
        <li class="px-3" style="color: #f4e3cf">/</li>
        <li class="breadcrumb-item"><a href="/business" style="color: #f4e3cf; text-decoration: none" >For Business</a></li>
        <li class="px-3" style="color: #f4e3cf">/</li>
        <li class="breadcrumb-item"><a href="/suggestion" style="color: #f4e3cf; text-decoration: none">Suggestion</a></li>
        <li class="px-3" style="color: #f4e3cf">/</li>
        <li class="breadcrumb-item"><a href="/help" style="color: #f4e3cf; text-decoration: none">Help & FAQ</a></li>
        <li class="px-3" style="color: #f4e3cf">/</li>
        <li class="breadcrumb-item"><a href="/contact" style="color: #f4e3cf; text-decoration: none">Contacts</a></li>
        <li class="px-3" style="color: #f4e3cf">/</li>
        <li class="breadcrumb-item"><a href="/pricing" style="color: #f4e3cf; text-decoration: none">Pricing</a></li>


      </ol>
    </nav>
  </div>

  <div class="row mb-3" style="color: #f4e3cf">
    <p>
      &#64;copyright 2023 companyname.inc
    </p>
    <nav aria-label="breadcrumb" style="margin-top: -15px">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#" style="color: #f4e3cf; text-decoration: none">Privacy</a></li>
        <li class="px-3" style="color: #f4e3cf">/</li>
        <li class="breadcrumb-item"><a href="#"style="color: #f4e3cf; text-decoration: none">Terms</a></li>
      </ol>
    </nav>
  </div>
