<!--<div class="container-fluid">-->
<!--  <div fxLayout="column" fxLayoutAlign="center">-->
<!--&lt;!&ndash;    <mat-card fxFlex="100">&ndash;&gt;-->
<!--    <div fxLayout="column">-->
<!--      <div fxFlex="10" class="action-blurb"><app-header></app-header></div>-->
<!--      <div fxFlex="10" class="action-blurb" fxFlexOffset=""><app-menubar></app-menubar></div>-->
<!--      <div fxFlex="10" class="action-blurb" fxFlexOffset=""><app-videos></app-videos></div>-->
<!--&lt;!&ndash;      <div fxFlex="10" class="action-blurb" fxFlexOffset="-53.2"><app-sidebar-activity></app-sidebar-activity></div>&ndash;&gt;-->
<!--&lt;!&ndash;      <div fxFlex="10" class="action-blurb" fxFlexOffset="2"><app-sidebar-channels></app-sidebar-channels></div>&ndash;&gt;-->
<!--&lt;!&ndash;      <div fxFlex="10" class="action-blurb" fxFlexOffset="-79.3"><app-people></app-people></div>&ndash;&gt;-->
<!--&lt;!&ndash;      <div fxFlex="10" class="action-blurb" fxFlexOffset="-2"><app-documents></app-documents></div>&ndash;&gt;-->
<!--&lt;!&ndash;      <div fxFlex="10" class="action-blurb" fxFlexOffset=""><app-footer></app-footer></div>&ndash;&gt;-->
<!--    </div>-->
<!--&lt;!&ndash;    </mat-card>&ndash;&gt;-->
<!--  </div>-->
<!--</div>-->


<div class="container-fluid">
  <router-outlet></router-outlet>
</div>
